@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$red: rgb(211, 100, 100);
$light:#ffff;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $purple;
$link: $pink;


// Update some of Bulma's component variables
$body-background-color:rgb(255, 255, 255);
$control-border-width: 2px;
$input-border-color: transparent;
$input-background-color:rgb(230, 221, 221);
$input-shadow: none;

// Import only what you need from Bulma
